body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: tomato;
}

.display-flex {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.link-button {
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(tomato, rgba(255, 99, 71, 0.705));
    color: white;
    border-radius: 10px;
    font-weight: 700px;
}

.experience-box {
    box-shadow: 10px 10px 50px gray;
    border-radius: 30px;
    width: 40%;
    margin: 5%;
}

.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

.center-text {
    text-align: center;
}